.App {
    background-color: #282c34;
    text-align: center;
    height: 100vh;
}

.App-header {
    min-height: calc(100vh - 3em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-footer {
    color: white;
    height: 2em;
}

.App-footer > * > a {
    color: #61dafb;
}


.rocket-wrapper {
    animation: rocket-move infinite 10s ease;
    animation-delay: 1s;
	margin-left: -20vw;
}

@keyframes rocket-move {
    from {
        margin-left: -20vw;
    }
    50% {
        margin-left: 20vw;
    }
    to {
        margin-left: -20vw;
    }
}

.rocket {
    transform: rotate(-45deg);
    animation: rocket-wiggle infinite 10s linear;
}

@keyframes rocket-wiggle {
    0% {
        transform: rotate(-45deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(-45deg);
    }
    75% {
        transform: rotate(-60deg);
    }
}
